/*CSS by Harley Quinn*/

.icon{
background-image: url('http://i.imgur.com/FrHLx1j.png');
}
#your-active-playlist > .icon-check-purple{
background: url('http://i.imgur.com/8StjGgk.png') !important;
top: 15px;
}
#user-menu .item > .icon-history-white{
background: url('https://i.imgur.com/EdPgEwe.png') !important;
top: 12px;
}
#footer-user .item > .icon-history-white{
background: url('https://i.imgur.com/EdPgEwe.png') !important;
top: 12px;
}
#room-bar .icon-room{ 
background-image: url('https://vgy.me/GHsbYU.png');
top: 11px;
left: 20px;
}
#dashboard .icon-grab{  
background: url('http://i.imgur.com/Lh837G1.png');  
}
#room-settings .general-settings .option button.off{
background: #088A08;
}
#room-settings .general-settings .option.enabled>button.on{
background: #01DF01;
}
#app-header{
background: orange;
}
#plug-dj{
background: #04B404;
}
#plug-menu{
background: #04B404;
}
#plug-menu .legal{
background: #04B404;
}
#settings{
background: #04B404;
}
#settings .header{
background: #04B404;
}
@media (max-width: 1600px){
}
.social-menu .icon-twitter,.social-menu .icon-facebook{
opacity: 1;
}
#playlist-import:hover{
background: #04B404;
}
#user-panel .score{
background: #04B404;
}
#dj-button.is-locked .left,
#dj-button.is-full .left,
#dj-button .left,
#dj-button.is-quit .left, 
#dj-button.is-leave .left, 
#dj-button.is-wait .left, 
#dj-button.is-locked .left, 
#dj-button.is-full .left{
background: #04B404;
border-radius: 6px;
border-left-width: 5px;
}
#dj-button .left,
#dj-button.is-quit .left,
#dj-button.is-leave .left,
#dj-button.is-wait .left,
#dj-button.is-locked .left,
#dj-button.is-full .left{
border-left: 4px solid #04B404;
}
#grab{
margin-left: -1px;
}
#meh{
margin-left: -1px;
}
#vote .crowd-response .top i{
position: relative;
display: inline-block;
margin: 0 -1px 0 -1px;
top: 7px;
background-repeat: no-repeat;
}
#vote .crowd-response .top .label{
position: relative;
display: inline-block;
top: -6px;
margin-left: -5px;
}
#chat-input{
border-radius: 50px
}
#dashboard{
background: linear-gradient(to top,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);   
}
#dashboard .search{
border-radius: 25px;
}
#footer-user .back{
background: linear-gradient(to top,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer{
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.38) 0,rgba(0, 0, 0, 0.83) 100%);
}
#user-view{
background: linear-gradient(to top, rgba(0, 0, 0, 0.247059) 0px, rgba(0, 0, 0, 0.74902) 0%);
}
#user-menu{
background: linear-gradient(to top, rgba(0, 0, 0, 0.247059) 0px, rgba(0, 0, 0, 0.74902) 100%);
}
#app-menu .list{
background: linear-gradient(to top, rgba(0, 0, 0, 0.247059) 0px, rgba(0, 0, 0, 0.74902) 100%);
}
#app-menu .button{
background: linear-gradient(to top, rgba(0, 0, 0, 0.247059) 0px, rgba(0, 0, 0, 0.74902) 100%);
}
.dialog.destructive .button.submit{
background: #04B404;
}
.dialog-frame .button.submit{
background: #01DF01;
}
.media-list .row.now-playing{
height: 53px;
border-bottom: #01DF01 2px solid!important;
background: rgba(30, 67, 126, 0.74)!important;
}
#user-rollover .subscriber .thumb, #waitlist .is-subscriber .thumb{
border-color: #04B404 !important;
}

.thumb.medium{
border-color: transparent !important;
}

.offline .thumb{
border: 2px solid #63A9E6 !important;
}
.votes-rs{
height: 200px;
width: 252px !important;
}
.user-content .grid .cell .top{
background: rgba(167, 171, 179, 0);
background: linear-gradient(to bottom,rgba(78, 82, 173, 0.69) 0,rgba(9, 26, 60, 1) 56%,rgba(19, 19, 19, 1) 73%,rgba(79, 82, 87, 1) 100%);
}
.experience .xp .bar .progress{
background: #63A9E6;
}

#playlist-create:hover{
background: #63A9E6;
}

#footer-user .info .bar .progress{
background: #04B404;
}

#user-menu .item.selected{
background: #04B404;
}

.tab-menu button.selected{
background: #04B404;
}

.user-content.communities button{
background: #04B404;
}
.thumb{
border-color: #04B404 !important;
}
#user-rollover.is-staff .thumb, 
#waitlist .is-staff .thumb{
border-color: #04B404 !important;
}
#waitlist .list .user{
background: rgba(10, 10, 10, 0);
}
#user-friends .tab-menu button .count{
background: #01DF01;
}
#friends-button .request-count{
background: #01DF01;
}
#user-menu .item .count{
background: #04B404;
}
.media-list.history .row .selected{
background: rgba(21, 19, 97, 0.43);
}
#user-menu{
background: linear-gradient(to top, rgba(0, 0, 0, 0.34) 0px, rgba(0, 0, 0, 1) 100%);
}
#user-view{
background: linear-gradient(to top, rgba(0, 0, 0, 0.78) 0px, rgba(0, 0, 0, 0.83) 0%);
}
.user-content.profile .points .label{
color: #01DF01;
}
.user-content.profile .meta .joined{
color: #01DF01;
margin-left: 0px;
}
.user-content .header span{
color: #01DF01;
}
.subscribe-button{
background: rgba(0, 80, 255, 0);
border-radius: 15px;
}
.subscribe-button:hover{
background: rgba(35, 37, 197, 0.19);
}
#footer .bar-button .section .chevron:after, 
#footer .bar-button .section .chevron:before{
background: #04B404;
}
.user-content.profile .meta .link .url a, .user-content.profile .meta .link .url a:visited{
color: #04B404;
}
#chat .emote .text{
font-style: normal;
font-weight: bold;
color: #FFFFFF;
}
#chat .emote{
border-left: #FFFFFF 4px solid !important;
background-color: rgba(163,0,22,0.70) !important;
}
.is-dj .name, .is-staff .name{
color: #04B404;
}
#chat .mention.is-dj, 
#chat .mention.is-staff{
background: #04B404 !important;
background: linear-gradient(135deg,#005eff 0,#0a0a0a 13%,#0a0a0a 100%) !important;
}
#chat .moderation, 
#chat .moderation .from{
  color: #04B404;
}
#chat .emote:nth-child(2n+1), 
#chat .log:nth-child(2n+1), 
#chat .message:nth-child(2n+1), 
#chat .moderation:nth-child(2n+1), 
#chat .promo:nth-child(2n+1), 
#chat .user-action:nth-child(2n+1), 
#chat .welcome:nth-child(2n+1){
background-color: rgba(17, 19, 23, 0);
}
#footer-user .buttons .button.store:hover{
background: #04B404;
}

#user-rollover.is-staff .info .role span{
color: #04B404;
font-weight: bold;
}
.user-content.profile .meta.is-staff .role span{
color: #04B404;
font-weight: bold;
}
.tab-menu button{
border-radius: 20px;
}
.icon-chat-manager ~ .text > .name, .icon-chat-manager ~ .from, .icon-chat-manager ~ span{
color: #04B404 !important;
}
.icon-chat-cohost ~ .text > .name, .icon-chat-cohost ~ .from, .icon-chat-cohost ~ span{
color: #04B404 !important;
}
.icon-chat-host ~ .text > .name, .icon-chat-host ~ .from, .icon-chat-host ~ span{
color: #04B404 !important;
}
.icon-chat-bouncer ~ .text > .name, .icon-chat-bouncer ~ .from, .icon-chat-bouncer ~ span{
color: #04B404 !important;
}
.icon-chat-dj ~ .text > .name, .icon-chat-dj ~ .from, .icon-chat-dj ~ span{
color: #04B404 !important;
}
.icon-pp-small{
background-position: -170px -456px;
}
.user-content.profile .meta .blurb .arrow-up{
border-bottom: 6px solid rgba(40, 44, 53, 0);
}
.user-content.profile .meta .blurb .box, .user-content.profile .meta .blurb input{
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.user-content.profile .meta .blurb input{
box-shadow: inset 0 0 0 3px #01DF01;
}
.media-list.history .score .grabs span{
color: #04B404;
}
#user-lists .header .button{
position: relative;
top: 0px;
float: left;
width: 42px;
height: 46px;
cursor: pointer;
}
#user-lists .header .button.trolls span{
position: absolute;
top: 7px;
left: 4px;
}
#user-lists .header .button.ignored i{
top: 7px;
left: 5px;
}
#user-lists .header .button.mutes i{
top: 7px;
left: 6px;
}
#footer-user .buttons .button:hover{
background: rgba(50, 55, 66, 0);
}
#user-lists .header .button.bans i{
top: 7px;
left: 8px;
}
.icon-check-blue{
background: url('http://i.imgur.com/dFFBLLb.png');
}
#chat .welcome{
color: #04B404;
font-weight: bold;
}
#rcs-progress-container .bar{
height: 100%;
width: 0%;
background-color: #04B404 !important;
-webkit-transition: width 2s;
transition: width 2s;
}
.icon-history-positive{
background-position: 0 -366px !important;
width: 15px;
height: 15px;
}